
{% load static %}
  <head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css/> -->
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
  </head>
  <body>
    <div class="dark-mode-switch">
      <i class="fa fa-moon"></i>
  </div>


<section class="vh-100">
    <div class="container py-5 h-100">
          
        <div class="container-fluid px-1 px-sm-3 py-5 mx-auto">
          <div class="row d-flex justify-content-center">
              <div class="row card0">


                  <div class="card1 col-lg-8 col-md-7">
                    {% if request.user.is_authenticated %}
                      <h3>Hello, {{user.first_name}}. Welcome to SkyCast</h3>
                      {% else %}
                      <h3>Hello, and Welcome to SkyCast</h3>
                      {% endif %}
                      <div class="text-center">
                          <img class="image mt-5" src="https://i.imgur.com/M8VyA2h.png">
                      </div>
                      <div class="row px-3 mt-3 mb-3">
                          <h1 class="large-font mr-3">{{city.temp}}&#176;c</h1>
                          <div class="d-flex flex-column mr-3">

                            <h4 class="mb-1 ">
                              <a class="white-text" href="https://en.wikipedia.org/wiki/{{city}}">
                               {{ city.name }}
                              </a> 
                             </h4>

                              <small>{{now}}</small>
                          </div>
                          <div class="d-flex flex-column text-center">
                              <h3 class="fa fa-sun-o mt-4"></h3>
                              <small>{{description}}</small>
                          </div>
                      </div>
                  </div>


                  <div class="card2 col-lg-4 col-md-5">
                    <form method="POST" action="{% url 'search' %}">
                      {% csrf_token %}
                      <div class="row px-3">
                          <input type="text" name="city" placeholder="Enter location..." class="mb-5">
                          <div class="fa fa-search mb-5 mr-0 text-center"></div>
                      </div>
                    </form>


                      <div class="mr-5">
                        <a class="white-text" href="{% url 'cities' %}">
                        <h5>Cities Queried ...</a> </h5> 
                        {% for city in cities %}
                          <p class="light-text suggestion">{{city}}</p>
                        {% endfor %}
                          <div class="line my-5"></div>
      
                          <strong>Weather Details</strong>
                          <div class="row px-3">
                              <p class="light-text">Humidity</p>
                              <p class="ml-auto">{{humidity}}%</p>
                          </div>
                          <div class="row px-3">
                              <p class="light-text">Feels Like</p>
                              <p class="ml-auto">{{feels_like}}&#176;c</p>
                          </div>
                          <div class="row px-3">
                              <p class="light-text">Max Temp </p>
                              <p class="ml-auto">{{city.max}}&#176;c</p>
                          </div>
                          <div class="row px-3">
                              <p class="light-text">Min Temp</p>
                              <p class="ml-auto">{{city.min}}&#176;c</p>
                          </div>
      
                          <div class="line mt-3"></div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
      <script type="text/javascript" src="{% static 'js/darkmode.js' %}"></script>
  </section>
  </body>