{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login | SkyCast</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-9XZlBtV0zgI0W8VvTfNinN7VYRXQEHiCOp8rjKX9Rd7VrTOcNVYYbh8i0QK1C3FsYfWo3MlCgsrKjJGuUSLo1g==" crossorigin="anonymous" />
</head>
<body>
  <div class="login-box">
    <h1>Login</h1>
    <form method = "POST">
      {% csrf_token %}
      {% if error_message %} 
      <p>{{ error_message }}</p>
      {% endif %}
      <input type="text" placeholder="username" name="username" id="login-input">
      <input type="password" placeholder="Password" name="password" id="login-input">
      <button type="submit" id="login-button">Login</button>
      <div class="register-text">
        <p>Not yet registered?</p> <a href = "{% url 'register' %}">Signup Now</a>
      </div>
    </form>
  </div>

  <div class="theme-toggle">
    <h2></h2>
    <label class="switch">
      <input type="checkbox" onclick="switchTheme()">
      <span class="slider"></span>
    </label>
  </div>
	</div>
	<script type="text/javascript" src="{% static 'js/darkmode.js' %}"></script>
</body>
</html>
