.dark-mode {
    background-color: #1d1d1d;
    color: #fff;
}

.dark-mode input[type="text"],
.dark-mode input[type="password"],
.dark-mode button {
    background-color: #252525;
    color: #fff;
}

.dark-mode button:hover {
    background-color: #333;
}
